body { background: #be9d3f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 35px; display: flex; }
.block-product-0 { color: #b3ed71; font-size: 19px; margin-bottom: 5px; }
.block-uploader-1 { color: #f440a0; font-size: 15px; margin-bottom: 5px; }
.block-search-2 { color: #14da0b; font-size: 15px; margin-bottom: 5px; }
.block-shipping-3 { color: #eafa03; font-size: 19px; margin-bottom: 5px; }
.block-search-4 { color: #b30ab2; font-size: 12px; margin-bottom: 5px; }
.block-config-5 { color: #30017; font-size: 20px; margin-bottom: 5px; }
.block-uploader-6 { color: #d69d86; font-size: 13px; margin-bottom: 5px; }